@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <p>
                This bike shop is created as part of a hands on test over ASP.NET MVC. The website has a database
                linked to it, containing customers, products, and orders. In the end, this website should be fully 
                functional, allow users to create accounts, and be able to add and view information in the database.
            </p>
        </div>
    </div>
</div>
 