@{
    ViewBag.Title = "Contact";
}

<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Contact Form</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="FirstName">First Name:</label>
            <div class="col-md-4">
                <input id="FirstName" name="FirstName" type="text" placeholder="John" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="LastName">Last Name:</label>
            <div class="col-md-4">
                <input id="LastName" name="LastName" type="text" placeholder="Smith" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Address">Address:</label>
            <div class="col-md-4">
                <input id="Address" name="Address" type="text" placeholder="123 Main St" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="City">City:</label>
            <div class="col-md-4">
                <input id="City" name="City" type="text" placeholder="St. Louis" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="State">State:</label>
            <div class="col-md-4">
                <select id="State" name="State" class="form-control">
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="PostalCode">Postal Code:</label>
            <div class="col-md-4">
                <input id="PostalCode" name="PostalCode" type="text" placeholder="12345-6789" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="CellPhone">Cell Phone:</label>
            <div class="col-md-4">
                <input id="CellPhone" name="CellPhone" type="text" placeholder="123-456-7890" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Age">Age:</label>
            <div class="col-md-4">
                <label class="radio-inline" for="Age-0">
                    <input type="radio" name="Age" id="Age-0" value="1" checked="checked">
                    16-30
                </label>
                <label class="radio-inline" for="Age-1">
                    <input type="radio" name="Age" id="Age-1" value="2">
                    31-50
                </label>
                <label class="radio-inline" for="Age-2">
                    <input type="radio" name="Age" id="Age-2" value="3">
                    Over 50
                </label>
            </div>
        </div>

        <!-- Multiple Checkboxes -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="EmailReason">Reason For Email:</label>
            <div class="col-md-4">
                <div class="checkbox">
                    <label for="EmailReason-0">
                        <input type="checkbox" name="EmailReason" id="EmailReason-0" value="1">
                        Sign up for our newsletter
                    </label>
                </div>
                <div class="checkbox">
                    <label for="EmailReason-1">
                        <input type="checkbox" name="EmailReason" id="EmailReason-1" value="2">
                        Ask for a price quote
                    </label>
                </div>
                <div class="checkbox">
                    <label for="EmailReason-2">
                        <input type="checkbox" name="EmailReason" id="EmailReason-2" value="3">
                        Schedule an appointment
                    </label>
                </div>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Submit"></label>
            <div class="col-md-8">
                <button id="Submit" name="Submit" class="btn btn-default">Submit</button>
                <button id="Clear" name="Clear" class="btn btn-default">Clear</button>
            </div>
        </div>

    </fieldset>
</form>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>